.App-header {
  background-color: grey;
  height: 75px;
  padding: 10px;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-footer {
  font-size: large;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: grey;
}

.footer-text {
  font-size: .75em;
  color: white;
}

.Quiz {
  padding: 20px;
  box-align: center;
  margin: auto;
  width: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
